.newmain{
  background-color: palegreen;


  label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__container{

    width: auto;
    max-width: 1148px;
    margin: $center;

    &__group{
      margin-bottom: 16px;
    
      &__row{
        margin-left: -4px;
        margin-right: -4px;
        display: flex;

        &:after{
          content: " ";
          display: table;
        }

        &:before{
          content: " ";
          display: table;
        }

        &__main{
          padding: 0 0 0 40px;
          background-color: papayawhip;
          // margin: $center;



          &__images{

            margin: 0 -8px 32px -8px;
            overflow: hidden;
            display: flex;

            &__content{

              position: relative;
              padding: 8px;

              &__preview{

                @include wid_hei(191.25px,191.25px);
                border: 1px solid #ccc;
              }

              &__picker{
                @include wid_hei(191.25px,191.25px);
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;

                &--btn{
                  // display: block;
                  cursor: pointer;
                  // z-index: 10;
                  // background-image: url(/assets/dummy.png);
                  // background-size: 191px 191px;
                }

                #item_image{
                  @include wid_hei(191.25px,191.25px);
                  opacity: 0;
                  // cursor: pointer;
                  // display: none;
                  
                }
              }
            }
          }

          &__forms{

            display: flex;
            align-items: center;
            
            &__title{

              width: 25%;

              &--label{

                padding-top: 7px;

              }

              &--require{
                color: #fa4141;
                margin-left: 8px;
                font-size: 14px;
              }
            }

            &__form{
              width: 75%;

              ::placeholder{
                opacity: 50%;
                padding: 6px 12px;
  
              }

            }

          }
        }
      }
    }
  }
}