h4 {
  text-align: center;
  font-weight: bold;
}

.item_list {
  width: 75vw;
  margin-top: 50px;
  padding-left: 50px;
  float: right;

  h1 {
    font-weight: bold;
  }
}

.item_list__an-item {
  margin-top: 20px;
}
