.new__registration__main__alter{
  
    th {
      font-weight: bold;
      font-size: 20px;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }

    td {
      border-left: 2px solid #ABABAB;
      background: #F5F5F5;
      padding: 10px;
      vertical-align: top;
      text-align: left;
      border: 2px solid #ABABAB;
    }

    table {
      margin-left: 300px;
      margin-bottom: 50px;
    }

    .span {
      color: red;
      font-size: 13px;
    } 

    .input-error{
      color: red;
    }
}